<div id="at_showcase">
	<div class="at_blog_cover" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
	    <div class="at_showcase_overlay {{#if @blog.cover}}at_with_blog_cover{{/if}}">
			<div class="row">
				<div class="large-12 large-centered columns">
					<div class="at_block">
						<div class="text-center">
				            {{#post}}
				            <div class="at_block">
				                <article class="{{post_class}}">
				                    <div class="at_post_header">
				                        <h2 class="at_post_title">{{{title}}}</h2>
				                    </div>
				                    <div class="at_post_meta">
				                        <span class="at_featured_post"><span class="fa fa-bookmark"></span> <span>Featured</span></span>
				                        <span class="at_post_author"><span class="fa fa-user"></span> {{author}}</span>
				                        <time class="at_post_time" datetime="{{date format='YYYY-MM-DD'}}"><span class="fa fa-calendar"></span> {{date format="DD MMM YYYY"}}</time>
				                        <span class="at_post_tags">{{#if tags}}<span class="fa fa-tags"></span>{{/if}} {{tags prefix="on " separator=" | "}}</span>
				                    </div>
				                </article>
				            </div>
				            {{/post}}
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
</div>